@import 'typeface-open-sans';

#root {
  --color-main: #000;
  --color-form: #979797;

  --color-border: #D4343F;

  --theme-gradient: linear-gradient(180deg, #D2333E 0%, #F54B55 100%);
  --theme-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  letter-spacing: .4px;
}

.text_body {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}

.text_headline {
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6,ul,p {
  margin: 0;
  padding: 0;
}